$primary-color: #009BB2;
$secondary-color: #FF8223;

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
}

.toparea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 5vh;

  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
}

.toparea .logo {
  width: 3rem;
}

.toparea .login-btn {
  cursor: pointer;
  background-color: $secondary-color;
  box-shadow: none;
  border: 2px solid $secondary-color;
  border-radius: 5px;
  padding: .2rem 1rem;

  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0;
}