.card {
    height: 10rem;
    width: 90%;
    padding: 1rem;
    border-radius: 0.6rem;
    border: solid;
    border-color: $primary-color;
    border-width: 0.05rem;
    margin: auto;
    margin-bottom: 1rem;
    
    display: flex;
    text-overflow: ellipsis;
    align-items: center;
    //box-shadow: 1px 1px 5px #b6b6b6;

    font-size: 1rem;
}

.card-content {
    width: 80vw;
}

.card-pic {
    width: 10rem;

    border-radius: 100%;
    margin-right: 1rem;
}