.toparea-shadow{

    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding-left: 1rem;
    padding-right: 1.2rem;
    box-shadow: 0 3px 5px rgba(57,63,72,.3);
    height: 15vh;
}

.toparea-shadow .logo {
    width: 3rem;
  }

.dashboard {
    height: 75vh;
    display: flex;
    justify-content: center;

    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.1rem;
}

.dashboard h2 {
    color: $primary-color;
}

.profile-data {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.1rem;
}

.profile-data img {
    height: 3rem; 
    padding: 0.3rem;
}

.dashboard {
    margin-top: 1rem;
}

.dash-matches {
    width: 25vw;
    height: 80vh;
    margin: 1rem;
    border-left: 1px solid $secondary-color;
    padding: 1rem;
    overflow: scroll;
}

.dash-matches a {
    color: $primary-color;
    text-decoration: none;
}

.dash-profile {
    width: 65vw;
    height: 80vh;
    margin: 1rem;
    border: none;
    padding: 1rem;

    overflow: scroll;
}

.dash-form .form-group {
    display: flex;
    align-items: center;
}