.info-btn {
  background-color: #fff;
  border: none;
  color: $secondary-color;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.infoarea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 95vh;
  padding: 3rem;

  text-align: justify;
}

.infoarea a {
  color: $secondary-color;
}

.infoarea p {
  color: $primary-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

.infoarea .text-left {
  margin-right: auto;
  width: 60vw;
}

.infoarea .text-right {
  margin-left: auto;
  width: 60vw;
}