.login-form {
  height: 95vh;
  padding: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid $secondary-color;
  border-radius: 5px;

  padding: 1.5rem 0rem;
  width: 30vw;

  text-align: justify;
}

.login-form form input{
  background-color: #fff;
  box-shadow: none;
  border: none;

  margin-bottom: 3rem;

  // color: $secondary-color;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 2px solid $secondary-color;
}

.login-form form button {
  cursor: pointer;
  background-color: $primary-color;
  box-shadow: none;
  border: 2px solid $primary-color;
  border-radius: 5px;
  padding: .2rem 1rem;

  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0;
}

.login-form form img {
  width: 15rem;
}

.login-form form p {
  color: $primary-color;
  font-size: .8rem;
}