.profile {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    border: solid;
    border-width: 0.05rem;
    border-color: $secondary-color;
}

.profile-placeholder{
    height: 100%;
    margin-right: 0.2rem solid lightgray;
    padding: 1rem;
}

.profile-pic {
    height: 12rem;
    width: 9rem;
    margin: 1rem;
}

.profile-content {
    color: $primary-color;
    padding: 1rem;
}

.profile-nome {
    font-size: 20px;
}

.profile-desc {
    color: black;
}