// SECTION

#search {
  color: $primary-color;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0.1rem;

  overflow: hidden;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.icon-small {
  padding-left: .5rem;
  height: 1.5rem;
  width: 1.5rem;
}

// SEARCH AREA

.searcharea{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px lightgray;
  height: 95vh;

  -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}

.shrink {
  height: 25vh !important;
  -webkit-transition: height 1s; /* Safari */
  transition: height 1s;
}

// SEARCH BAR

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbar input{
  background-color: #fff;
  box-shadow: none;
  border: none;

  // color: $secondary-color;
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid $secondary-color;
}

.searchbar .search-btn{
  background-color: #fff;
  border: none;
  padding: 0 .2rem;
  
  cursor: pointer;
}

// FILTERS

.filters {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.filters-active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.filters-active p {
  font-size: 1.3rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  
  background-color: #fff;
  border: none;
  color: $secondary-color;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.filters-active select {
  background-color: #fff;
  box-shadow: none;
  border: none;
  margin: 1rem;

  // color: $secondary-color;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 2px solid $secondary-color;
}